{% extends 'index.html' %}

{% block body %}
<nav class="box-shadow navbar navbar-expand bg-dark fixed-top ">
    <div class="navbar navbar-collapse d-flex-md justify-content-center " id="navbarNav-home">
        <ul class="navbar-nav text-white" id="list-nav-home">
            <li class="nav-item">
                <a class="nav-link text-white h6" href="{{ url_for('home') }}">Climax Cool</a>
            </li>
            <!-- <li class="nav-item text-white">
                <a class="nav-link text-white h6" href="#clientes">Clientes</a>
            </li> -->
            <li class="nav-item text-white">
                <a class="nav-link text-white h6" href="{{ url_for('login') }}">Login</a>
            </li>
        </ul>
    </div>
</nav>
<div class="d-flex justify-content-center align-items-center bg-dark" style="height: 100vh;">
    <div class="bg-dark text-white">
        <div class="col">
            <div>
                <form method="POST" action="" class="border p-4 mt-4 mb-4">
                    {{ form_login.csrf_token }}
                    <legend>Login</legend>
                    <fieldset>
                        <div class="form-group mt-3">
                            {{ form_login.username.label(class="form-label") }}
                            {{ form_login.username(class="form-control") }}
                        </div>
                        <div class="form-group mt-3">
                            {{ form_login.password.label(class="form-label") }}
                            {{ form_login.password(class="form-control") }}
                        </div>
                    </fieldset>
                    <div class="w-auto">
                        {{ form_login.btn_submit_signIn(class="w-100 btn btn-primary mt-4 mb-4") }}
                    </div>
                </form>
                <p class="mt-4 text-center">Não consegue acessar? <a href="#">Recuperar senha</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}