{% extends 'index.html' %}

{% block body %}
<nav class="box-shadow navbar navbar-expand bg-dark fixed-top ">
    <div class="navbar navbar-collapse d-flex-md justify-content-center " id="navbarNav-home">
        <ul class="navbar-nav text-white" id="list-nav-home">
            <li class="nav-item">
                <a class="nav-link text-white h6" href="{{ url_for('home') }}">Climax Cool</a>
            </li>
            <!-- <li class="nav-item text-white">
                <a class="nav-link text-white h6" href="#clientes">Clientes</a>
            </li> -->
            <li class="nav-item text-white">
                <a class="nav-link text-white h6" href="{{ url_for('login') }}">Login</a>
            </li>
        </ul>
    </div>
</nav>
<div class="d-flex justify-content-center align-items-center bg-dark" style="height: 100vh;">
    <div class="bg-dark text-white">
        <div class="col">
            <div>
                <form method="POST" action="" class="border p-4 mt-4 mb-4">
                    {{ form_change_password.csrf_token }}
                    <legend>Recuperar Senha</legend>
                    <fieldset>
                        <div class="form-group mt-3">
                            {{ form_change_password.username.label(class="form-label") }}
                            {% if form_change_password.username.errors %}
                            {{ form_change_password.username(class="form-control is-invalid") }}

                            <div class="invalid-feedback">
                                {% for erro in form_change_password.username.errors %}
                                {{erro}}
                                {% endfor %}
                            </div>

                            {% else %}
                            {{ form_change_password.username(class="form-control") }}
                            {% endif %}
                        </div>
                        <div class="form-group mt-3">
                            {{ form_change_password.password.label(class="form-label") }}

                            {% if form_change_password.password.errors %}
                            {{ form_change_password.password(class="form-control is-invalid") }}

                            <div class="invalid-feedback">
                                {% for erro in form_change_password.password.errors %}
                                {{erro}}
                                {% endfor %}
                            </div>

                            {% else %}
                            {{ form_change_password.password(class="form-control") }}
                            {% endif %}



                        </div>
                        <div class="form-group mt-3">
                            {{ form_change_password.new_password.label(class="form-label") }}

                            {% if form_change_password.new_password.errors %}
                            {{ form_change_password.new_password(class="form-control is-invalid") }}

                            <div class="invalid-feedback">
                                {% for erro in form_change_password.new_password.errors %}
                                {{erro}}
                                {% endfor %}
                            </div>

                            {% else %}
                            {{ form_change_password.new_password(class="form-control") }}
                            {% endif %}


                        </div>
                        <div class="form-group mt-3">
                            {{ form_change_password.new_password_confirmed.label(class="form-label") }}

                            {% if form_change_password.new_password_confirmed.errors %}
                            {{ form_change_password.new_password_confirmed(class="form-control is-invalid") }}

                            <div class="invalid-feedback">
                                {% for erro in form_change_password.new_password_confirmed.errors %}
                                {% if "Field must be equal to new_password" in erro %}
                                Senha deve ser igual a senha do campo acima.
                                {% endif %}
                                {% endfor %}
                            </div>

                            {% else %}
                            {{ form_change_password.new_password_confirmed(class="form-control") }}
                            {% endif %}

                        </div>
                    </fieldset>
                    <div class="w-auto">
                        {{ form_change_password.btn_submit_signIn(class="w-100 btn btn-primary mt-4 mb-4") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}