{% extends 'index.html'%}

{% block body %}

<nav class="navbar navbar-expand-md navbar-light bg-dark fixed-top">
    <div class="margin-nav d-flex-md justify-content-center" id="div-nav-title">
        <a class="navbar-brand d-block d-md-none" href="#" id="nav-title">Pagina Atual</a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="margin-nav d-flex-md justify-content-center  collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('customers_registration') }}">Cadastrar Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('users_registration') }}">Cadastrar Usuários</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('home') }}">Sair</a>
            </li>
        </ul>
    </div>
</nav>


<script>
    // Obtenha o título da página atual
    var pathname = window.location.pathname;
    var parts = pathname.split("/");
    var endpoint = parts[parts.length - 1];
    console.log(endpoint);

    // Atualize o texto do elemento nav-title
    document.getElementById("nav-title").textContent = endpoint;
    // let size = window.innerWidth;
    // if (size > 991) {
    //     document.getElementById("div-nav-title").classList.add("invisible")
    // }
    // console.log(window.innerWidth)
</script>

{% block bodynav %}
{% endblock %}

{% endblock %}