{% extends 'index.html' %}

{% block title %} Novo Serviço {% endblock %}

{% block body %}

<div class="container-fluid row justify-content-center bg-dark vh-100">
    <div class="container row justify-content-center pt-4 pb-2 mx-0 px-0 px-md-4 text-center vh-100">
        <div class="col-6 col-md-3">
            <a id="btn-historico" class="btn btn-outline-secondary w-100" href="{{url_for('report_service', equipment_id=equipment.id, customer_id=customer.id)}}">Histórico</a>
        </div>
        <div class="col-6 col-md-3">
            <a id="btn-novo-servico" class="btn btn-outline-info w-100" href="{{url_for('new_service', equipment_id=equipment.id, customer_id=customer.id)}}">Novo Serviço</a>
        </div>
    </div>
    <div class="container text-center text-light">
        <form method="POST" action="" class="border p-4 mt-2 mb-2">
            {{ form_new_service.csrf_token }}
            <legend class="text-center">Cadastro de Serviço</legend>

            <div class=" text-left text-light">
                <div class="row justify-content-center">
                    <div class="col col-md-6">
                        <span>{{customer.name_customer}}</span>
                        <div class="bg-light rounded mt-1">
                            <p class="px-2 py-1" style="color:black; font-size: 0.7rem;">Fulano de Tal da Silva</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-center text-left text-light">
                <div class="col col-md-6">
                    <span>Equipamento:</span>
                    <div class="bg-light rounded mt-1">
                        <p class="px-2 py-1" style="color:black; font-size: 0.7rem;">{{equipment.name_equipment}}</p>
                    </div>
                </div>
            </div>

            <fieldset>
                <div class="row justify-content-center text-left">
                    <div class=" col-md-6">
                        <ul class="list-group">
                            <span>Serviços:</span>
                            <li class="list-group-item small mt-1 bg-dark" id="servicos">
                                {%for service in form_new_service%}
                                {%if 'service_' in service.name%}
                                <div class="form-group m-0 px-1">
                                    {{ service(class="form-check-input") }}
                                    {{ service.label(class="form-check-label text-secondary") }}
                                </div>
                                {%endif%}
                                {%endfor%}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center mt-2">
                    <div class="text-left text-light col-md-6">
                        {{form_new_service.annotations.label(class="form-label")}}
                        {{form_new_service.annotations(class="form-control")}}
                    </div>
                </div>
                <div class="row justify-content-center mt-2">
                    <div class="col-8 col-md-4 text-left text-light">
                        {{form_new_service.expert.label(class="form-label")}}
                        {{form_new_service.expert(class="form-control")}}
                    </div>
                    <div class="col-4 col-md-2 text-left text-light">
                        {{form_new_service.price.label(class="form-label")}}
                        {{form_new_service.price(class="form-control")}}
                    </div>
                </div>
            </fieldset>
            <div class="row justify-content-center mt-4">
                <div class="col col-md-6  ">
                    {{form_new_service.btn_submit_new_service(class="btn btn-primary w-100")}}
                </div>
            </div>
        </form>
    </div>
</div>


<script>
    //Coloquei quando estava usando as badges
    // const servicos = document.querySelectorAll('.servico');
    // const selecionados = new Set();
    // const selecionadosElement = document.querySelector('#selecionados');

    // function atualizarSelecionados() {
    //     selecionadosElement.innerHTML = [...selecionados].join(', ');
    // }

    // servicos.forEach(servico => {
    //     servico.addEventListener('click', () => {
    //         servico.classList.toggle('badge-info');
    //         if (selecionados.has(servico.textContent)) {
    //             selecionados.delete(servico.textContent);
    //         } else {
    //             selecionados.add(servico.textContent);
    //         }
    //         atualizarSelecionados();
    //     });
    // });

    var historicoBtn = document.getElementById('btn-historico');
    var novoServicoBtn = document.getElementById('btn-novo-servico');

    console.log(historicoBtn)
    if (document.baseURI.endsWith('relatorio-servico')) {
        novoServicoBtn.classList.remove('btn-outline-info');
        novoServicoBtn.classList.add('btn-outline-secondary');
        historicoBtn.classList.remove('btn-outline-secondary');
        historicoBtn.classList.add('btn-outline-info');
    }

    if (document.baseURI.endsWith('novo-servico')) {
        historicoBtn.classList.remove('btn-outline-info');
        historicoBtn.classList.add('btn-outline-secondary');
        novoServicoBtn.classList.remove('btn-outline-secondary');
        novoServicoBtn.classList.add('btn-outline-info');

    }


</script>

{% endblock %}