{% block title %} Serviços {% endblock %}
{% extends 'nav_logged.html' %}

{% block bodynav %}


<div class="container bg-dark" style="padding-top: 60px; height: 100vh;">
    <div class="py-2 text-center">
        <!-- <h2 class="pb-2">Relatório de Serviço</h2> -->
        <div class="pb-2">
            <a id="btn-historico" class="btn btn-outline-secondary mr-2" href="{{url_for('report_service', equipment_id=equipment.id, customer_id=customer.id)}}">Histórico</a>
            <a id="btn-novo-servico" class="btn btn-outline-info mr-2" href="{{url_for('new_service', equipment_id=equipment.id, customer_id=customer.id)}}">Novo Serviço</a>
        </div>
    </div>
    <div class="container text-center text-light" id="option1">
        <div class="mt-1">
            <p style="font-size: small;" class="my-0">código: {{ equipment.qr_code }}</p>
            <p style="font-size: small;" class="my-0">cliente: {{customer.name_customer}}</p>
            <p style="font-size: 0.7rem; color: darkgrey;" class="mt-2">
                {{equipment.name_equipment}}
            </p>
        </div>
    </div>


    <div class="container row justify-content-center text-center text-light mx-0">
        {%for service in services%}
        <div class="col-md-7 mb-1">
            <button style="width: 100%; text-align: start;" class="btn btn-outline-secondary mt-1" type="button" data-bs-toggle="collapse" data-bs-target="#serv{{service.id}}"> Dia {{service.date}}</button>
            <div class="collapse my-1 card bg-secondary py-3" id="serv{{service.id}}">
                <div class="mb-2">
                    {%for item in service.list_services%}
                    <span class="badge badge-pill badge-info py-2 px-3 mb-2">{{item}}</span>
                    {%endfor%}
                </div>
                <div class="container text-left text-light">
                    <span>Observações:</span>
                    <div style="height: 60px; color:black; font-size: 0.7rem;" class="bg-light mb-2 mt-1 rounded p-2">{{service.annotations}}</div>
                </div>
                <div class="container text-left text-light">
                    <div class="row">
                        <div class="col-8">
                            <span>Técnico:</span>
                            <div class="bg-light rounded mt-1">
                                <p class="px-2 py-1" style="color:black; font-size: 0.7rem;">{{service.expert}}</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <span>Preço:</span>
                            <div class="bg-light rounded mt-1">
                                <p class="px-2 py-1" style="color:black; font-size: 0.7rem;">{{service.price}}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-3 container text-right">
                    <a style="color:black; font-size: 0.7rem;" class="btn btn-primary badge-pill py-0 px-3 mr-1" href="{{url_for('update_service', service_id=service.id, equipment_id=equipment.id, customer_id=customer.id)}}">Editar</a>
                    <a style="color:black; font-size: 0.7rem;" class="btn btn-dark badge-pill py-0 px-3">Excluir</a>
                </div>
            </div>
        </div>
        {%endfor%}
    </div>
</div>

<script>

    var historicoBtn = document.getElementById('btn-historico');
    var novoServicoBtn = document.getElementById('btn-novo-servico');

    console.log(historicoBtn)
    if (document.baseURI.endsWith('relatorio-servico')) {
        novoServicoBtn.classList.remove('btn-outline-info');
        novoServicoBtn.classList.add('btn-outline-secondary');
        historicoBtn.classList.remove('btn-outline-secondary');
        historicoBtn.classList.add('btn-outline-info');
    }

    if (document.baseURI.endsWith('novo-servico')) {
        historicoBtn.classList.remove('btn-outline-info');
        historicoBtn.classList.add('btn-outline-secondary');
        novoServicoBtn.classList.remove('btn-outline-secondary');
        novoServicoBtn.classList.add('btn-outline-info');

    }
</script>

{% endblock %}