<!-- {% block title %} Equipamentos {% endblock %} -->


{% extends 'nav_logged.html' %}
{% block bodynav %}

<head>
    <link rel="stylesheet" href="../static/main.css">
</head>

<!-- <div style="padding-top: 55px;">
    <div style="height: 3px; width: 100%; background-color: rgb(20, 20, 20);"></div>
</div> -->
<div class="container-fluid bg-dark">
    <div style="padding-top: 70px; height: 100vh;" class="row justify-content-center bg-dark">
        <div class="py-2 mb-3 text-center col-md-6 col-xl-4">
            <h1 class="my-4 d-none d-md-block" id="customer-name">{{customer_name}}</h1>
            <!-- O QR Code será o link do href que levará para a página do equipamento -->
            <ul class="list-group ">
                <li class="list-group-item">
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="{{url_for('report_service')}}">
                        <span>Ar LG 255 Modelo 23 - Local: Sala 5</span>
                        <span><i class="fas fa-bars"></i></span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="#">
                        <span>Ar LG 255 Modelo 23 - Local: Sala 5</span>
                        <span><i class="fas fa-bars"></i></span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="#">
                        <span>Ar LG 255 Modelo 23 - Local: Sala 5</span>
                        <span><i class="fas fa-bars"></i></span>
                    </a>
                </li>
                <li class="list-group-item">
                    <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" href="#">
                        <span>Ar LG 255 Modelo 23 - Local: Sala 5</span>
                        <span><i class="fas fa-bars"></i></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<script>
    var titlePrincipal = document.getElementById("nav-title")
    var customerName = document.getElementById("customer-name")
    console.log(titlePrincipal)

    titlePrincipal.textContent = customerName.textContent
</script>

{% endblock %}