{% extends 'index.html' %}

{% block title %} Servicos {% endblock %}

{% block body %}

<div class="container bg-dark " style="min-height: 1000px;">
    <div class="py-2 text-center">
        <h1>Nome do CLiente - Papelaria Tributária</h1>
        <!-- O QR Code será o link do href que levará para a página do equipamento -->
        <ul class="list-unstyle">
            <li>
                <a href="">Ar LG 255 Modelo 23 - Local: Sala 5</a>
            </li>
            <li>
                <a href="">Ar LG 255 Modelo 23 - Local: Sala 5</a>
            </li>
            <li>
                <a href="">Ar LG 255 Modelo 23 - Local: Sala 5</a>
            </li>
            <li>
                <a href="">Ar LG 255 Modelo 23 - Local: Sala 5</a>
            </li>
        </ul>
    </div>
</div>
<div class="container text-center text-light" id="option1">
    <button style="width: 100%; text-align: start;" class="btn btn-outline-secondary mt-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-info-1"> Dia 18/02/2023 - 16:30</button>

    <div class="collapse mt-1 card bg-secondary py-3" id="collapse-info-1">
        <div class="mb-2">
            <span class="badge badge-pill badge-info py-2 px-3 mb-2">Troca do Filtro</span>
            <span class="badge badge-pill badge-info py-2 px-3 mb-2">Limpeza e higienização</span>
            <span class="badge badge-pill badge-info py-2 px-3 mb-2">Troca de Peças</span>
            <span class="badge badge-pill badge-info py-2 px-3 mb-2">Calibragem</span>
        </div>
        <div class="container text-left text-light">
            <span>Observações:</span>
            <div style="height: 100px;" class="bg-light mb-2 mt-1 rounded"></div>
        </div>

        <!-- style="display: flex; gap: 12px; -->
        <div class="container text-left text-light">
            <div class="row">
                <div class="col-8">
                    <span>Técnico:</span>
                    <div class="bg-light rounded mt-1">
                        <p class="px-2 py-1" style="color:black; font-size: 0.7rem;">Fulano de Tal da Silva</p>
                    </div>
                </div>
                <div class="col-4">
                    <span>Preço:</span>
                    <div class="bg-light rounded mt-1">
                        <p class="px-2 py-1" style="color:black; font-size: 0.7rem;">R$ 250,00</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-3 container text-right">
            <button style="color:black; font-size: 0.7rem;" type="button" class="btn badge-pill py-0 px-3 mr-1">Editar</button>
            <button style="color:black; font-size: 0.7rem;" type="button" class="btn badge-pill py-0 px-3">Excluir</button>
        </div>
    </div>







    <button style="width: 100%; text-align: start;" class="btn btn-outline-secondary mt-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-info-2"> Dia 15/02/2023 - 09:45 </button>

    <div class="collapse mt-1 card bg-secondary py-3" id="collapse-info-2">
        <div class="mb-2">
            <span class="badge badge-pill badge-info py-2 px-3 mb-2">Troca do Filtro</span>
            <span class="badge badge-pill badge-info py-2 px-3 mb-2">Limpeza e higienização</span>
            <span class="badge badge-pill badge-info py-2 px-3 mb-2">Troca de Peças</span>
            <span class="badge badge-pill badge-info py-2 px-3 mb-2">Calibragem</span>
        </div>
        <div class="container text-left text-light">
            <span>Observações:</span>
            <div style="height: 100px;" class="bg-light mb-2 mt-1 rounded"></div>
        </div>

        <!-- style="display: flex; gap: 12px; -->
        <div class="container text-left text-light">
            <div class="row">
                <div class="col-8">
                    <span>Técnico:</span>
                    <div class="bg-light rounded mt-1">
                        <p class="px-2 py-1" style="color:black; font-size: 0.7rem;">Fulano de Tal da Silva</p>
                    </div>
                </div>
                <div class="col-4">
                    <span>Preço:</span>
                    <div class="bg-light rounded mt-1">
                        <p class="px-2 py-1" style="color:black; font-size: 0.7rem;">R$ 250,00</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt-3 container text-right">
            <button style="color:black; font-size: 0.7rem;" type="button" class="btn badge-pill py-0 px-3 mr-1">Editar</button>
            <button style="color:black; font-size: 0.7rem;" type="button" class="btn badge-pill py-0 px-3">Excluir</button>
        </div>
    </div>


</div>
</div>



{% endblock %}