.margin-nav {
  margin-right: auto;
  margin-left: 2rem;
  /* background-color: rgb(20, 183, 220); */
}

.box-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5), 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.cor {
  background-color: aqua;
}
